/CC2530DB/EndDeviceEB - OTAClient/List/
/CC2530DB/EndDeviceEB - OTAClient/Obj/
/CC2530DB/EndDeviceEB - OTAClient/Exe/
/CC2530DB/EndDeviceEB/List/
/CC2530DB/EndDeviceEB/Obj/
/CC2530DB/EndDeviceEB/Exe/
*.7z